<!DOCTYPE html>

<html>
	<head>
		<title>About</title>
		<link rel="icon" href="/img/weathericon.png">
		<link rel="stylesheet" href="/css/styles.css">
	</head>

	<body>
		<div class="main-content">
			{{>header}}
			<img src="/img/robot.png" class="portrait" alt="A robot">
		</div>

		{{>footer}}
	</body>
</html>